{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="slabs-list">
            {% if slabs %}
                    {% for slab in slabs %}
                        {% if slab.slab_image %}
                            <a href="{% url 'slabs:get_countertop_by_id' slab.slab_material slab.slab_category slab.id %}">
                                <div class="card" style="display: flex; max-width: 30rem; margin-top: 20px;">
                                    <img class="card-img-top"
                                         src="{{ slab.slab_image.url }}"
                                         alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ slab.title }} - {{ slab.slab_category }}</h5>
                                        <p class="card-text">Thickness: {{ slab.slab_thikness}}</p>
                                        <p class="card-text">Slab Sizes: <br/> {{ slab.slab_size }}</p>
                                        {% if slab.slab_finish %}<p class="card-text">Finished: {{ slab.slab_finish }}</p>{% endif %}
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
            {% endif %}
        </div>
    </div>
    {% include 'base/footer.html' %}
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.7.0/simple-lightbox.min.js" integrity="sha512-ZajFBgnksNp8Rj+AbmYe8ueOu45HiSjtf3QpqnRbHlq719m6VK0FkbYIqQ8wEnlVuJ1i9pC+z6Z9ewmDnUTMCg==" crossorigin="anonymous"></script>#}
    {##}
    {#    <script>#}
    {#        var gallery = new SimpleLightbox('.photo_gallery a');#}
    {#    </script>#}
{% endblock %}