{% load static %}
{% load compress %}

{% compress css %}
    <link type="text/x-scss" href="{% static 'scss/header.scss' %}" rel="stylesheet" media="screen">
    <link type="text/x-scss" href="{% static 'scss/index.scss' %}" rel="stylesheet" media="screen">
    <link type="text/x-scss" href="{% static 'scss/countertops.scss' %}" rel="stylesheet" media="screen">
    <link type="text/x-scss" href="{% static 'scss/slabs.scss' %}" rel="stylesheet" media="screen">
    <link type="text/x-scss" href="{% static 'scss/contact.scss' %}" rel="stylesheet" media="screen">
    <link type="text/x-scss" href="{% static 'scss/footer.scss' %}" rel="stylesheet" media="screen">
    <link type="text/x-scss" href="{% static 'scss/about.scss' %}" rel="stylesheet" media="screen">
{% endcompress %}