<div class="footer">
    {#    <hr style="background-color: #6c757d; width: 75%"/>#}
    <h4 style="color:#f4be35;">MAGICSTONE</h4>
    <div class="footer-info">
        <div class="foot-left">
            <h5>Hours: </h5>
            <p>Monday - Friday :<br/> 8am - 6pm <br/> Saturday: <br/> By appointment only <br/> Sun: Closed</p>
            <h5 style="margin: 0; margin-top: 5px;">Address:</h5>
            <a href="https://www.google.ca/maps/place/185+Doughton+Rd,+Concord,+ON+L4K+1R1/@43.7920814,-79.523232,17z/data=!3m1!4b1!4m5!3m4!1s0x882b2fb17df243f7:0xa49a62e9b548590!8m2!3d43.7920775!4d-79.5210433"><i
                    class="fas fa-map-marker-alt"></i> 185 Doughton Rd, Concord, ON L4K 1R1</a> <br/>
        </div>
        <div class="foot-right">
            <h5>Tel:</h5>
            <a href="tel:(416) 704-1404">(416) 704-1404</a>
            <br/>
            <a href="tel:(467) 701-1109">(647) 701-1109</a>
            <h5 style="margin: 0; margin-top: 5px;">Email:</h5>
            <a href="mailto:info@magicstone.ca">info@magicstone.ca</a>
        </div>
        <div class="foot-social">
            <h5>Socials:</h5>
            <a class="nav-link" href="https://www.facebook.com/Magic-stone-1547591812006405/"><i
                    style="font-size: 20px;" class="fab fa-facebook-square"></i></a>
            <br/>
            <a class="nav-link" href="https://www.instagram.com/magicstone.ca/"><i style="font-size: 20px;"
                                                                                   class="fab fa-instagram"></i></a>
        </div>
    </div>
    <br/>
    <small>&#169; Magicstone {% now "Y" %} All rights reserved.</small>
    {#    <ul class="contacts-ul">#}
    {#        <li style="text-align: left">Hours:</li>#}
    {#        <li style="display: inline-block; margin-right: 5px;">Mn - Fr: 9AM - 6PM</li>#}
    {#        <li style="display: inline-block; margin-left: 5px;">St: 10AM - 1PM</li>#}
    {#        <li style="display: inline-block; margin-right: 5px;">Phone: +1 111-111-1111</li>#}
    {#        <li style="display: inline-block; margin-left: 5px;">Email: info@magicstone.ca</li>#}
    {#        <li>Address: 185 Doughton Rd, Concord, ON L4K 1R1</li>#}
    {#    </ul>#}
    {#    <small>&#169; Magicstone {% now "Y" %} All rights reserved.</small>#}
</div>

