{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <p>
            Modern quartz solutions for your home
            Kitchen countertops / Bathroom vanities / Custom design
            Magicstone offers customization services for quartz products in GTA and all Ontario province. From kitchen
            countertops to fireplaces, from bars to bathroom decoration, we offer a variety of solutions for your home.
            We also do:
            - Backsplashes
            - Tub surrounds
            - Vanities
            - Custom projects
            - Slab sales
            Why Quartz?
            Quartz countertops have become an elegant decision for those who love the look of granite but are concerned
            about maintenance. Quartz is stronger than granite, requires no resealing & is highly resistant to scratches
            and stains. Visit our showroom to view samples of all the major brands of quartz colors we have. After
            choosing the right slab for you, we will go with you through all process from idea & design to installation
            on your site. Our rule #1 is satisfaction of our customers.
            Why Magicstone?
            We are:
            - Locally Owned & Operated
            - Have fast Turnaround time
            - At our showroom, you can find an extensive range of quartz options in varying textures, patterns and
            colours
            - The quartz we supply has the perfect combination of visual appeal and desirable properties.
            - We provide excellent customer service and make sure that our clients have a satisfying experience.
            - No Sub-contractors Involved

            Our Service Process:
            After you schedule a consultation, one of our quartz specialists visits your house or you meet at showroom.
            They will discuss what you have in mind and came up with the best solution for you. Then they take
            measurements and give you free estimate.
            Once you’ve chosen the style you want, we fabricate the quartz slab according to your preferences. Finally,
            we arrange a convenient time and date for you to deliver and install your stone.
            Call us now at 416-704-1404 or sent email to info@magicstone.ca

        </p>
    </div>
{% endblock %}