{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            {% for image in images %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <div class="d-flex align-items-center justify-content-center min-vh-100 corousel-div"
                         style="background-image: url({{ image.image.url }})">
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>


    <script>
        $(document).ready(function () {
            var header = $('#header-main').height()
            var windowHeight = $(window).height() - header;
            windowHeight = windowHeight + 49
            $('.carousel-inner').css('height', windowHeight + 'px');
            $('.corousel-div').css('background-size', $(window).width() + 'px ' + windowHeight + 'px')
            $('.corousel-div').css('background-repeat', 'no-repeat')
            $('.corousel-div').css('min-height', 'no-repeat')
            if ($(window).height() > $(window).width()) {
                $('.corousel-div').css('background-size', windowHeight + 354 + 'px ' + windowHeight + 'px')
                $('.corousel-div').css('background-position-x', 'center')
            }


            $(window).resize(function () {
                var header = $('#header-main').height()
                var windowHeight = $(window).height() - header;
                windowHeight = windowHeight + 49
                $('.carousel-inner').css('height', windowHeight + 'px');
                $('.corousel-div').css('background-size', $(window).width() + 'px ' + windowHeight + 'px')
                $('.corousel-div').css('background-repeat', 'no-repeat')
                $('.corousel-div').css('min-height', 'no-repeat')
                if ($(window).height() > $(window).width()) {
                    $('.corousel-div').css('background-size', windowHeight + 354 + 'px ' + windowHeight + 'px')
                    $('.corousel-div').css('background-position-x', 'center')
                }
            })
        });
    </script>
{% endblock %}