.container-about {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow: hidden;
  //max-width: 1000px;


  .about-title {
    color: #f4be35;
    font-size: 29px;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
  }

  .sub-title {
    color: white;
    text-align: left;
    margin-left: 5%;
    font-size: 20px;
  }

  p {
    color: white;
    margin-left: 5%;
    width: 90%;
  }

  ul {
    color: white;

    width: 90%;

    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 15%;
    list-style-type: square;

    //li {
    //  &:before {
    //    content: "\0033B";
    //    color: #f4be35;
    //    font-weight: bold;
    //    font-size: 1.5em;
    //    display: inline-block;
    //    width: 1em;
    //    margin-left: 1em;
    //    margin-top: -1em;
    //  }
    //}
  }

  .list {
    margin-left: 10%;
  }

  .about-subtitle {
    color: white;
    font-weight: lighter;
    font-size: 1.4em;
    margin-left: 5%;
    margin-top: 5px;
  }

  .square {
    img {
      float: left;
      margin: 5px;
      margin-left: 5%;
    }

    p {
      text-align: justify;
    }
  }

  .about-square-left {
    display: none;
  }
   .about-square-right {
    display: none;
  }

  #we-also-do {
    display: none;
  }

  @media screen and (min-width: 750px) {
    .about-small-width {
      display: none;
    }
    #we-also-do {
      display: block;
      color: #f4be35;
      font-size: 29px;
      width: 90%;
      margin-left: 5%;
      margin-top: 10px;
    }


    .about-title {
      text-align: center;
    }

    .list {
      margin-left: 5%;
    }

    .about-square-left {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 90%;
      margin-left: 5%;

      img {
        width: 50%;
        max-width: 600px;
      }

    }

    .about-square-right {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 90%;
      margin-left: 5%;

      img {
        width: 50%;
        max-width: 600px;
      }

    }

  }

  @media screen and (min-width: 1000px) {
    justify-content: center;
    align-items: center;

    .center-div{
      max-width: 1000px;
    }
  }

}

