body {
  background-color: #232322;
}

.container {
  background-color: #232322;

  .slabs-list {
    width: 90%;
    margin-left: 5%;
    .card {

      -moz-box-shadow: 0 0 10px #f4be35;
      -webkit-box-shadow: 0 0 10px #f4be35;
      box-shadow: 0 0 10px #f4be35;
      margin-bottom: 20px;

      .card-body{
        .card-text{
          color: #232322;
          margin: 0;
        }
      }
    }

    a {
      text-decoration: none;
      color: #232322;
    }

  }


  @media screen and (min-width: 648px) {
    .slabs-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;


      .card {
        width: 40%;
        height: auto;

        .card-img-top{
          height: auto !important;
        }

        .card-img-top {
          width: 100%;
          height: 100%;
        }
      }
    }


  }

  .slab-main-page{
    .carousel-inner{
      max-height: 450px;
    }
  }

  .slab-description{

    .text-left{
      margin-left: 5%;
    }

    margin-top: 10px;
    color: white;
  }

}